{% extends "personal/header.html" %}

{% block content %}
<p>JavaScript是用來讓網站有其他功能，如按鈕、計算等，
    就像你帶了手錶你就有知道時間這個功能，是額外加上去的。</p><br>
<img src="/static/personal/img/js_img1.png" alt="picture" size="800">
<button type="button" 
onclick="document.getElementById('demo').innerHTML = Date()">Date and time</button>
<p id="demo"></p><br>
<p>就如上圖所示，簡單加了一個按鈕，點擊後會顯示時間，這是比較簡單的JavaScript。</p></br>
<p>也可以使用其他人已經寫好的library，例如bootstrap，可以應用其所寫好的JavaScript，
    來讓網頁能有自己想要功能。</p>
<img src="/static/personal/img/js_img2.png" alt="picture" size="800">
<p>在使用其功能之前，得先將其引用，如上圖所示，將來源放在&lt;script&gt;中，並將其置於&lt;/body&gt;之前。</p>
<img src="/static/personal/img/js_img3.png" alt="picture" size="700">
<div class="btn-group">
  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">test1</a></li>
    <li><a href="#">test2</a></li>
  </ul>
</div>

<p>接下來便可以使用其下的方法來建立想要功能，如上圖所示是建立一個下拉示的選單。</p>

{% endblock %}
