{% extends "personal/temp.html" %}

{% block content %}
<main>
    <h1 class="lg-text">PyQt5
        <span></span>
    </h1>

    <img src="/static/personal/img/img_pyqt5_9.png" alt="picture">
    <p>&nbsp</p>
    <p>QWidget底下有可以追蹤滑鼠位置的功能，只能追蹤在視窗下的滑鼠位置，
        不過如果將視窗建成整個螢幕大小也能知道滑鼠在螢幕的哪個位置，底下則是slider的應用，
        移動底下的按鈕可以改變數字的大小，這功能比較常見，像是改變音量的大小等等。</p><br>

    <img src="/static/personal/img/img_pyqt5_11.png" alt="picture">
    <p>&nbsp</p>
    <p>Qwidget底下QColordialog有類似調色盤的功能，可以方便選擇想要的顏色，
        改變背景顏色或文字等。</p><br>

    <img src="/static/personal/img/img_pyqt5_12.png" alt="picture">
    <p>&nbsp</p>
    <p>Qwidget底下QFontdialog有可以選擇字型的功能，可以方便改變字型。</p><br>
</main>
{% endblock %}
