{% extends "personal/temp.html" %}

{% block content %}
<main>
    <h1 class="lg-text">PyQt5
        <span></span>
    </h1>
    
    <img src="/static/personal/img/img_pyqt5_14.png" alt="picture">
    <p>&nbsp</p>
    <p>將按鈕作為調整顏色的開關，按red左邊就會變成紅色以此類推，
        底下為類似安裝程式時，完成的百分比，使用QProgressBar、QBasicTimer
        來完成。</p><br>

    <img src="/static/personal/img/img_pyqt5_15.png" alt="picture">
    <p>&nbsp</p>
    <p>右方類似月曆的功能，是由QCalendarWidget所建成，選擇任意日期時，
        底下也會顯示所選的日期。</p><br>

    <img src="/static/personal/img/img_pyqt5_18.png" alt="picture">
    <p>&nbsp</p>
    <p>此為利用QtGui其底下的QPainter，在視窗上畫圖，
        有QPen、QBrush等來畫出不同形狀或不同背景。</p><br>
</main>
{% endblock %}
