{% extends "personal/header.html" %}

{% block content %}
<p>PyQt5由Qt v5衍生而來，常被使用來建立UI，以下為使用PyQt5的相關練習。</p><br>
<img src="/static/personal/img/img_pyqt5_1.png" alt="picture" width="700">
<p>&nbsp</p>
<p>PyQt5底下自帶與時間相關的QtCore，其下有許多相關的功能可以拿來應用，
    稍微整合將其都放在同一個視窗面比較好觀看，如果之後想要要使用相關功能會比較好找。</p><br>

<img src="/static/personal/img/img_pyqt5_5.png" alt="picture" width="600">
<p>&nbsp</p>
<p>使用PyQt5底下的QPushButton、QMessageBox，用來建立按鈕，當按下時會跳出另一個視窗，
    詢問下一個動作。</p><br>
    
<img src="/static/personal/img/img_pyqt5_6.png" alt="picture" width="˙600">
<p>&nbsp</p>
<p>此為QtWidgets底下的QTextEdit，跟一般windows底下的記事本類是的功能，
    可用來編輯txt檔。</p><br>

<img src="/static/personal/img/img_pyqt5_7.png" alt="picture" width="600">
<p>&nbsp</p>
<p>這個看起來像計算機一樣，是將按鈕按照順序來盤列，了解layout要如何設置，
    通常可使用box或是grid來決定各個項目的位置。</p><br>

{% endblock %}
