{% extends "personal/header.html" %}

{% block content %}

<p>CSS就像是衣服一樣，要給HTML穿上衣服，看起來才較美觀也較吸引別人。</p>
<img src="/static/personal/img/css1.png" alt="picture" width="800">
<p>&nbsp</p>
<p>要使用CSS，是在&lt;head&gt;內加上&lt;style&gt;tag並在其下寫下想要修改的code，
    如上圖想要修改&lt;p&gt;文字大小就加上font-size並給予參數，若想要使網頁呈現出不同的樣貌，
    可以查文檔看有什麼功能可以使用，可以使其更絢麗。</p><br>
<p>還有另一種方式可以使用CSS，如上圖使用&lt;link&gt;tag來使用其他來源的CSS。</p><br>
<p>例如此網站就是使用bootstrap這個open source來讓網站呈現不同的風格，
    bootstrap為大多數人應用在網頁上，其下也有許多功能可使用。</p>
{% endblock %}
