<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="static/personal/css/main.css">
    <title>blue page</title>
</head>
<body id="bg-img">
    <header>
        <div class="menu-btn">
            <div class="btn-line"></div>
            <div class="btn-line"></div>
            <div class="btn-line"></div>
        </div>

        <nav class="menu">
            <ul class="menu-nav">
                <li class="menu-item">
                    <a href="/" class="menu-item--active">
                        HOME
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/about" class="menu-item--active">
                        ABOUT
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/learn/" class="menu-item--active">
                        LEARN
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/python/" class="menu-item--active">
                        PYTHON
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/project/" class="menu-item--active">
                        PROJECT
                    </a>
                </li>
            </ul>
        </nav>

    </header>

    <main id="about">
        <h1 class="lg-text">About
            <span>my page</span>
        </h1>
        
        <p>此網頁是利用Django這個框架所架設而成，並沒有做太多變化，只是簡單紀錄所學的程式語言。</p>
        <p>(之前使用bootstrap和jquery來做，後來發現很多功能沒用到，就捨棄，用原生js和sass做設計，換成現在這個樣子。)</p>
        <img src="/static/personal/img/about1.png" alt="picture">
        <p>剛學習程式語言時，是從codecademy上的python開始學起，照著課程學習，一步一步的將其學完。</p><br>
        <p>不過學完卻發現不知道該如何進行下一步，產生了「學這些究竟能做什麼？」這樣的疑問。</p>
        <img src="/static/personal/img/about2.png" alt="picture">
        <p>後來慢慢爬文，發現有許多教學，如︰zetcode等網站；然後依照其教學模仿其寫的code。</p><br>
        <p>漸漸的才明白，其實programming language只是工具，能幫助我們和電腦溝通，告訴電腦該麼做，怎樣才
            能呈現出所需的結果。</p><br>
        <p>不管是HTML、JavaScript等也都一樣是工具，只是這些工具所負責處理的項目不同，要會這些工具就要了解其功能或目的，
            可以去查文檔（document、reference等），會了解作者為何要開發這項工具、這個版本改了什麼或有什麼功能等，
            然後利用其功能達到所需的目的。</p><br>
        <p>一般在寫程式的時候，不管是python或JavaScript都會在記憶體劃分出一個區塊來讓程式執行，如果要執行的動作重複行較多，
            可以建立class當作一個範本或工具，就可以避免寫太多行，方便觀看及修改。</p>

    </main>
    <script src="static/personal/js/main.js"></script>

</body>
</html>