{% extends "personal/header.html" %}

{% block content %}

<p>此網頁是利用Django這個框架所架設而成，並沒有做太多變化，只是簡單紀錄所學的程式語言。</p>
<img src="/static/personal/img/about1.png" alt="picture" width="800">
<p>&nbsp</p>
<p>剛學習程式語言時，是從codecademy上的python開始學起，照著課程學習，一步一步的將其學完。</p><br>
<p>不過學完卻發現不知道該如何進行下一步，產生了「學這些究竟能做什麼？」這樣的疑問。</p>
<img src="/static/personal/img/about2.png" alt="picture" width="300">
<p>&nbsp</p>
<p>後來慢慢爬文，發現有許多教學，如︰zetcode等網站；然後依照其教學模仿其寫的code。</p><br>
<p>漸漸的才明白，其實programming language只是工具，能幫助我們和電腦溝通，告訴電腦該麼做，怎樣才
    能呈現出所需的結果。</p><br>
<p>不管是HTML、JavaScript等也都一樣是工具，只是這些工具所負責處理的項目不同，要會這些工具就要了解其功能或目的，
    可以去查文檔（document、reference等），會了解作者為何要開發這項工具、這個版本改了什麼或有什麼功能等，
    然後利用其功能達到所需的目的。</p><br>
<p>一般在寫程式的時候，不管是python或JavaScript都會在記憶體劃分出一個區塊來讓程式執行，如果要執行的動作重複行較多，
    可以建立class當作一個範本或工具，就可以避免寫太多行，方便觀看及修改。</p>

{% endblock %}
