{% extends "personal/header.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="/static/personal/img/img_html.png" alt="..." style="height: 50%" >
      <div class="caption">
        <h3><i>HTML</i></h3>
        <p><a href="/HTML/" class="btn btn-primary btn-block" role="button">connect</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="/static/personal/img/img_css.png" alt="...">
      <div class="caption">
        <h3><i>CSS</i></h3>
        <p><a href="/CSS/" class="btn btn-primary btn-block" role="button">connect</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="/static/personal/img/img_js.png" alt="...">
      <div class="caption">
        <h3><i>JavaScript</i></h3>
        <p><a href="/JavaScript/" class="btn btn-primary btn-block" role="button">connect</a></p>
      </div>
    </div>
  </div>
</div>
<p>Welcome to my website!</p>
<p>email:Joe81127@hotmail.com</p>



{% endblock %}
