{% extends 'personal/temp.html' %}

{% block content %}
<main id="learn">
    <button onclick="reTop()" class="btn-retop">Top</button>
    
    <h1 class="lg-text">Laravel
        <span></span>
    </h1>

    <div>
        <p>laravel是一個web framework，大部分在做網頁的應該也都是用此，
            可能是依照MVC的架構，感覺和django的架構有點像，寫web framework的作者
            可能都比較依照這個方向在寫。
        </p>
        <p>larval配合XAMPP來開發很快就能架站。</p>
        <img src="/static/personal/img/img_laravel1.png" alt="picture">
        <p>使用bootstrap來做設計很快就做好板型，bootstrap上的example都是很好的參考。</p>
        <img src="/static/personal/img/img_laravel2.png" alt="picture">
        <p>一般的登入畫面</p>
        <img src="/static/personal/img/img_laravel3.png" alt="picture">
        <p>一般的註冊畫面</p>
        <img src="/static/personal/img/img_laravel4.png" alt="picture">
        <p>一般的部落格</p>
        <img src="/static/personal/img/img_laravel5.png" alt="picture">
        <p>一般部落個編輯</p>
        <P>&nbsp;</P>
        <p>參考Traversy Media 、 google等</p>

    </div>

</main>
{% endblock %}